body {
  background: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  background: #ffffff;
  border-radius: 10px;
  padding: 0px;
  min-width: 50%;
  height: 80vh;
  width: 80vh;
  display: flex;
  flex-direction: column;

}

#chat_header {
  background: #2563eb;
  color: #ffffff;
  text-align: center;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0px 0px;
}

h1 {
  margin: 0px;
  border-radius: inherit;
}

#chat {
  padding: 0px;
  height: 80%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}



.bot {
  background-color: #e2e8f0;
  border-radius: 10px 10px 10px 0px;
  max-width: 75%;
  padding: 15px;
  margin: 10px;
  width: auto;
  align-self: flex-start;
}

.human {
  background-color: #2563eb;
  color: #ffffff;
  border-radius: 10px 10px 0px 10px;
  max-width: 75%;
  padding: 15px;
  margin: 10px;
  width: auto;
  align-self: flex-end;
}

ul {
  list-style-type: none;
  padding: 0px;
  width: 100%;
}


li.bot_message {
  display: flex;
}

li.human_message {
  display: flex;
  justify-content: flex-end;
}

li.bot_message span {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

li.bot_message span img {
  width: 2em;
  height: 2em;
  align-self: center;
  margin: 10px 0 5px 10px;
}

#user_input {
  align-self: flex-end;
  display: flex;
  border-top: 1px solid #d7dad9;
  height: 10%;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  justify-content: center;
  align-items: center;
}

#user_input textarea {
  height: 100%;
  width: 94%;
  padding: 10px;
  border: none;
  outline: none;
  resize: none;
  box-sizing: border-box;
  border-radius: inherit;
}

#user_input button {
  align-self: center;
  border: none;
  color: #000;
  background-color: white;
  padding: 10px;
  margin: 10px;
}

#user_input button:hover {
  cursor: pointer;
  color: #2563eb;
}


/* Mobile responsiveness - make main take full screen */
@media (max-width: 900px) {
  body {
    padding: 0;
  }

  main {
    height: 100vh;
    width: 100vw;
    border-radius: 0;
    min-width: 100%;
  }

  #chat_header {
    border-radius: 0;
  }
}